:root {
    --white: #FFFFFF;
    --black: #000000;

    --blue: #3300FF;
    --teal: #7DF9FF;
    --green: #2FFF2F;
    --yellow: #FFFF00;
    --pink: #FF00F5;
    --red: #FF4911;
}

/* @media (prefers-color-scheme: dark) { */
/*     :root { */
/*         --foreground:           var(--white); */
/*         --background:           var(--black); */
/**/
/*         --accent:               var(--blue); */
/*         --text-accent:          var(--blue); */
/*         --on-accent:            var(--white); */
/**/
/*         --border-color:         var(--black); */
/**/
/*         --button-background:    var(--white); */
/*         --button-foreground:    var(--black); */
/*         --button-border:        var(--white); */
/*     } */
/* } */

/* @media (prefers-color-scheme: light) { */
    :root {
        --foreground:           var(--black);
        --background:           var(--white);

        --accent:               var(--teal);
        --text-accent:          var(--teal);
        --on-accent:            var(--black);

        --border-color:         var(--black);

        --button-background:    var(--black);
        --button-foreground:    var(--white);
        --button-border:        var(--black);
    }
/* } */
