@import url("variables.css");
@import url("colors.css");
@import url("fonts.css");
@import url("sizes.css");

/* ************************************** */
/* Global style                           */
/* ************************************** */

:root {
    background-color: var(--background);
    color: var(--foreground);

    font-family: "Mabry Pro";
    font-weight: bold;
}

/* ************************************** */
/* Utility classes                        */
/* ************************************** */

.no-shadow {
    box-shadow: none !important;
}

.no-border {
    border: none !important;
}

.text-center {
    text-align: center;
}

/* ********************************** */
/* Colors                             */
/* ********************************** */

.bg-white {
    background-color: var(--white);
    --background: var(--white);
}

.fg-white {
    color: var(--white);
    --foreground: var(--white);
}

.bg-black {
    background-color: var(--black);
    --background: var(--black);
}

.fg-black { 
    color: var(--black);
    --foreground: var(--black);
}
 
.bg-blue {
    background-color: var(--blue);
    --background: var(--blue);
} 

.fg-blue {
    color: var(--blue); 
    --foreground: var(--blue);
}

.bg-teal { 
    background-color: var(--teal);
    --background: var(--teal);
}

.fg-teal {
    color: var(--teal);
    --foreground: var(--teal);
}

.bg-green {
    background-color: var(--green);
    --background: var(--green);
}

.fg-green {
    color: var(--green);
    --foreground: var(--green);
}

.bg-yellow {
    background-color: var(--yellow);
    --background: var(--yellow);
}

.fg-yellow {
    color: var(--yellow);
    --foreground: var(--yellow);
}

.bg-pink {
    background-color: var(--pink);
    --background: var(--pink);
}

.fg-pink {
    color: var(--pink);
    --foreground: var(--pink);
}

.bg-red {
    background-color: var(--red);
    --background: var(--red);
}

.fg-red {
    color: var(--red);
    --foreground: var(--red);
}


/* ************************************** */
/* Basic element styles                   */
/* ************************************** */

/* ********************************** */
/* Containers                         */
/* ********************************** */

body {
    margin: 0px;
}

main {
    padding: var(--padding-default);
}

/* ********************************** */
/* Headers                            */
/* ********************************** */

h1 {
    font-size: var(--font-5xl);
    margin: 0px;
}

h2 {
    font-size: var(--font-4xl);
    margin: 0px;
}

h3 {
    font-size: var(--font-3xl);
    margin: 0px;
}

h4 {
    font-size: var(--font-2xl);
    margin: 0px;
}

h5 {
    font-size: var(--font-xl);
    margin: 0px;
}

/* ********************************** */
/* Other Text                         */
/* ********************************** */

p, span {
    font-size: var(--font-sm);
}

a, a:visited {
    font-size: var(--font-2xs);
    text-decoration: none;
    color: var(--foreground);
    background: linear-gradient(180deg, var(--background) 50%, var(--text-accent) 50%);
    cursor: pointer;
}

a:hover {
    background: var(--text-accent);
}

/* ********************************** */
/* Text Container                     */
/* ********************************** */

blockquote {
    border: var(--border-color) solid var(--border-thickness);
    margin: var(--small-margin);
    padding: var(--padding-sm);
    width: fit-content;
    height: fit-content;

    background-color: var(--accent);
    color: var(--on-accent);

    box-shadow: var(--shadow-size) var(--shadow-size) var(--border-color);

    font-size: var(--font-3xs);
}

article, section {
    margin: var(--margin-default);
    padding: var(--padding-default);
}

article {
    font-size: var(--font-3xs);
}

section {
    font-size: var(--font-2xs);
}

/* ********************************** */
/* Data Collections                   */
/* ********************************** */

li {
    font-size: var(--font-2xs);
}

ul {
    list-style: disc;
}

table {
    
}

/* ********************************** */
/* Buttons                            */
/* ********************************** */

button {
    font-size: var(--font-3xs);

    padding-left: var(--padding-sm);
    padding-right: var(--padding-sm);
    padding-top: calc(var(--padding-sm) / 2);
    padding-bottom: calc(var(--padding-sm) / 2);

    color: var(--button-foreground);
    background-color: var(--button-background);
    border: var(--button-border) solid var(--border-thickness);

    cursor: pointer;
}

button:focus {
    outline: none;
}

button[type="submit"] {
    box-shadow: none;
    border: none;
    border-top: var(--border-color) solid var(--border-thickness);
}

button.accent {
    background-color: var(--accent);
    color: var(--on-accent);

    box-shadow: var(--shadow-size) var(--shadow-size) var(--button-border);
}

button.accent:hover {
    background-color: var(--on-accent);
    color: var(--accent);
}

button.accent:active {
    background-color: var(--on-accent);
    color: var(--accent);

    box-shadow: none;
    translate: var(--border-thickness) var(--border-thickness);
}

/* ********************************** */
/* Data Entries                       */
/* ********************************** */

form {
    background-color: var(--background);
    color: var(--foreground);

    border: var(--border-color) solid var(--border-thickness);

    padding-top: var(--padding-default);

    box-sizing: border-box;

    box-shadow: var(--shadow-size) var(--shadow-size) var(--border-color);
}

form header {
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);

    margin-bottom: 2rem;

    box-sizing: border-box;
}

form main {
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
    padding-bottom: var(--padding-default);

    box-sizing: border-box;
}

form main * {
    margin-bottom: 2.5rem;

    box-sizing: border-box;
}

form main *:last-child {
    margin-bottom: 0px;
}

div.checkbox {
    display: flex;
    flex-direction: row;

    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

div.checkbox input {
    flex: 1;

    width: 30px;
    height: 30px;

    margin: auto;
}

div.checkbox * {
    flex: 4;
    font-size: var(--font-3xs);

    margin: auto;
}

form footer {
    width: 100%;
}

form footer button {
    width: 100%;
}

label {
    font-size: var(--font-2xs);
}

input {
    font-family: "Mabry Pro";
    font-size: var(--font-2xs);

    border: var(--border-color) solid var(--border-thickness);

    background-color: var(--background);
    color: var(--foreground);

    width: 100%;
}

input:focus {
    outline: none;
    box-shadow: var(--shadow-size) var(--shadow-size) var(--border-color);
}

/* ************************************** */
/* Components                             */
/* ************************************** */

/* ********************************** */
/* Navbar                             */
/* ********************************** */

header {
    position: static;
    top: 0px;
    left: 0px;

    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: column;
}

header .brand {
    border-bottom: var(--border-color) solid var(--border-thickness);

    padding: var(--padding-default);
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
}

header .brand-title {
    font-size: var(--font-5xl);
}

header .navbar {
    display: flex;
    flex-direction: row;
    border-bottom: var(--border-color) solid var(--border-thickness);
}

header .buttons {
    margin-left: auto;
}

header .buttons button {
    border: none;
    box-shadow: none;
    height: 100%;
}

header .buttons button:last-child {
    border-left: var(--border-color) solid var(--border-thickness);
}

header nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

header nav ul li {
    margin-right: 1rem;
}
