:root {
  --font-5xl: 144px;
  --font-4xl: 132px;
  --font-3xl: 120px;
  --font-2xl: 108px;
  --font-xl:  96px;
  --font-lg:  84px;
  --font-md:  72px;
  --font-sm:  60px;
  --font-xs:  48px;
  --font-2xs: 36px;
  --font-3xs: 24px;
  --font-4xs: 12px;
}
