:root {
  /* border-color: see "colors.css" */

  --border-thickness:   4px;
  --border-radius:      0px;

  --shadow-size:        8px;

  --margin-default:     0px;
  --padding-default:    3rem;

  --margin-sm:          0px;
  --padding-sm:         2rem;

  --margin-xs:          0px;
  --padding-xs:         1rem;
}
